app/Http/Controllers/auth/LogoutNotification.wsdl

<?xml version ="1.0" encoding ="UTF-8" ?>
<definitions name="LogoutNotification"
             targetNamespace="urn:mace:shibboleth:2.0:sp:notify"
             xmlns:notify="urn:mace:shibboleth:2.0:sp:notify"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <schema targetNamespace="urn:mace:shibboleth:2.0:sp:notify"
                xmlns="http://www.w3.org/2000/10/XMLSchema"
                xmlns:notify="urn:mace:shibboleth:2.0:sp:notify">

            <simpleType name="string">
                <restriction base="string">
                    <minLength value="1"/>
                </restriction>
            </simpleType>

            <element name="OK" type="notify:OKType"/>
            <complexType name="OKType">
                <sequence/>
            </complexType>

        </schema>
    </types>

    <message name="getLogoutNotificationRequest">
        <part name="SessionID" type="notify:string" />
    </message>

    <message name="getLogoutNotificationResponse" >
        <part name="OK"/>
    </message>

    <portType name="LogoutNotificationPortType">
        <operation name="LogoutNotification">
            <input message="getLogoutNotificationRequest"/>
            <output message="getLogoutNotificationResponse"/>
        </operation>
    </portType>

    <binding name="LogoutNotificationBinding" type="notify:LogoutNotificationPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LogoutNotification">
            <soap:operation soapAction="urn:xmethods-logout-notification#LogoutNotification"/>
        </operation>
    </binding>

    <service name="LogoutNotificationService">
        <port name="LogoutNotificationPort" binding="notify:LogoutNotificationBinding">
            <soap:address location="LOCATION_PLACEHOLDER"/>
        </port>
    </service>
</definitions>
